<p id="notice"><%= notice %></p>

<h1>Arts</h1>


    <% @arts.each do |art| %>
      <article>
        <%= link_to image_tag(art.image.url(:medium)), art %>
      </article>
    <% end %>

<br>

<%= link_to 'New Art', new_art_path %>
