<p id="notice"><%= flash[:notice] %></p>

<h1>Gallery</h1>


    <% @arts.each do |art| %>
      <article class="shade">
        <%= link_to image_tag(art.image.url(:medium)), art %>
      </article>
    <% end %>

<br>

<%= link_to 'New Art', new_art_path %>
