/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'https://fonts.googleapis.com/css?family=Calligraffitti';
@import 'https://fonts.googleapis.com/css?family=Handlee';
@import 'https://fonts.googleapis.com/css?family=Gilda+Display';


* {
	margin: 0;
	padding: 0;
}
html {
	background-image: url("http://wallpapercave.com/wp/VMnlaKl.jpg");
	background-repeat: none;
	background-size: cover;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 5px 20px;
	text-align: center;

}
h1{
	text-align: center;
	font-family: 'Calligraffitti';
}
h2{
	font-family: 'Calligraffitti';
}
ul {
	display: inline-block;
	color:#fff
}

#button {
	border: 2px solid rgba(200,10,10,.2);
	background: linear-gradient(rgba(100,100,100,0), rgba(100,100,100,.5));
	padding: 5px;
	font-family: 'Handlee';
}
.field {
	margin-bottom: 20px;
}
.flash, .notice {
	width: 100%;
	text-align: center;
	margin: 20px auto;
}
.marginheading {
	margin: 50px auto;
}