<header>
 <div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= image_tag("logo3.png", :alt => "rss feed", :class => "logo") %>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row">
			<nav>
	  	<ul>
        <!-- home -->
				<a href="/"><li>家</li></a>
        <!-- artists -->
				<a href="/artists"><li>アーティスト</li></a>
        <!-- gallery -->
				<a href="/arts"><li>ギャラリー</li></a>
        <!-- lease -->
        <a href="/leases"><li>リース</li></a>
			</ul>
		</nav>
 	</div>
 </div>
</header>
