<header>
 <div class="container">
		<div class="row">
			<div class="col-md-2">
				<%= image_tag("japanesecircle.png", :alt => "rss feed", :class => "logo") %>
			
			</div>
			<div class="col-md-4">
				<h1>Taka Ishii Gallery</h1>
			</div>
			<div class="col-md-6">
			</div>
		</div>
		<div class="row">
			<nav>
	  	<ul>
        <!-- home -->
				<a href="/"><li class="home">家</li></a>
        <!-- artists -->
				<a href="/artists"><li class="artists">アーティスト</li></a>
        <!-- gallery -->
				<a href="/arts"><li class="gallery">ギャラリー</li></a>
        <% if user_signed_in? && current_user.admin? %>
        <a href="/leases"><li class="lease">リース</li></a>
        <% end %>
			</ul>
		</nav>
 	</div>
 </div>
</header>
