<header>
 <div class="container">
		<div class="row">
			<div class="col-md-8">
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row">
			<nav>
	  	<ul>
				<a href="/"><li>Home</li></a>
				<a href="/artists"><li>Artists</li></a>
				<a href="/arts"><li>Arts</li></a>
			</ul>
		</nav>
 	</div>
 </div>
</header>